.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 2px solid goldenrod;
  border-radius: 8px;
  padding: 20px;
}

.error {
  border: red 1px solid;
}
.error-message {
  color: red;
}

.is-done {
  opacity: 0.5;
}

.active-filter {
  background-color: aquamarine;
}