.message {

    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    color: white;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    position: relative;
    background-color: #0066CC;
    min-width: min-content;
    max-width: 530px;
    min-height: 60px;
    max-height: max-content;
    border-radius: 15px;
    padding: 10px 15px;
    margin-right: 20px ;

}

.text:after {

    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-left-color: #0066CC;
    border-right: 0;
    border-bottom: 0;
    margin-top: 13px;
    margin-right: -4px;
}



.name {
    font-weight: bold;
    text-align: end;

}

.messageText {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}

.time {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    width: 48px;
    text-align: center;
}